Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.5
cffi==1.5.2
cryptography==3.3.2
enum34==1.1.2
gunicorn==19.0.0
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
mongokit==0.9.1.1
ndg-httpsclient==0.4.0
pusher==1.2.3
pyOpenSSL==17.5.0
pyasn1==0.1.9
pycparser==2.14
pymongo==2.9
requests==2.20.0
six==1.10.0
urllib3==1.26.5
wsgiref==0.1.2
