{% extends "template.html" %}
{% block content %}

    <script>

        var pusher = new Pusher("{{ pusher_key }}");
        var notificationsChannel = pusher.subscribe("{{ channel_name }}");

        notificationsChannel.bind("{{ notification_event_name }}", function(notification){
            var messageDiv = document.createElement("div");
            messageDiv.className = "msgln";
            messageDiv.innerHTML = "[" + getCurrentTime() + "] " + "<b>" + notification.username +"</b> "+ notification.message;
            // var msg = "(" + getCurrentTime() + ") " + notification.message;
            // messageDiv.appendChild(document.createTextNode(msg));

            var chatDiv = document.getElementById("chatbox");
            chatDiv.appendChild(messageDiv);
        });

        var getCurrentTime = function() {
            var currentTime = new Date()
            var hours = currentTime.getHours()
            var minutes = currentTime.getMinutes()

            if (minutes < 10)
                minutes = "0" + minutes

            var suffix = "AM";
            if (hours >= 12) {
                suffix = "PM";
                hours = hours - 12;
            }
            if (hours == 0) {
                hours = 12;
            }

            return hours + ":" + minutes + " " + suffix;
        }

        $(document).ready(function(){

            $("#submitmsg").click(function() {
                var clientmsg = $("#usermsg").val();
                $.post("publish", {message: clientmsg}, function ( data ){
                    toastr.success(data.message);
                });

                $("#usermsg").attr("value", "");
            return false;
            });

            //If user wants to end session
            $("#exit").click(function(){
                var exit = confirm("Are you sure you want to end the session?");
                if(exit==true){$.post("logout");}
            });
        });

    </script>

    <div id="wrapper">
        <div id="menu">
            <p class="welcome">Welcome, <b>{{ username }}</b></p>
            <p class="logout"><a id="exit" href="#">Logout</a></p>
            <div style="clear:both"></div>
        </div>

        <div class="notification"></div>
        <div id="chatbox"></div>

        <form name="message">
            <input name="usermsg" type="text" id="usermsg" size="63" />
            <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
        </form>
    </div>
{% endblock %}

