{% extends "template.html" %}
{% block content %}
    <div id="loginform">
    <form action="login" method="post">
        <p>Please enter your username to continue:</p>
        <label for="name">userame:</label>
        <input type="text" name="username" id="username" />
        <input type="submit" name="enter" id="enter" value="Enter" />
    </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){

            $("#s").click(function() {
                var clientmsg = $("#usermsg").val();
                $.post("publish", {message: clientmsg}, function ( data ){
                    toastr.success(data.message);
                });

                $("#usermsg").attr("value", "");
            return false;
            });

        });
    </script>
{% endblock %}